@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
    max-width: 700px !important;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(
        255,
        255,
        255,
        0.9
    ) !important; /* Warna putih transparan */
    border-radius: 50% !important; /* Membuat lingkaran */
    width: 40px !important; /* Lebar tombol */
    height: 40px !important; /* Tinggi tombol */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Bayangan */
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "" !important; /* Hapus ikon default */
    display: inline-block !important;
    width: 0;
    height: 0;
    border-style: solid !important;
}

.swiper-button-prev::after {
    border-width: 6px 8px 6px 0 !important;
    border-color: transparent #333 transparent transparent !important; /* Panah kiri */
}

.swiper-button-next::after {
    border-width: 6px 0 6px 8px !important;
    border-color: transparent transparent transparent #333 !important; /* Panah kanan */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba(255, 255, 255, 1); /* Perubahan warna saat hover */
    transform: scale(1.1); /* Animasi memperbesar */
    transition: all 0.2s ease-in-out;
}

.post-content figure.wp-block-post-featured-image {
    display: none;
}

.post-content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content h2,
.post-content h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.post-content img {
    border-radius: 0.375rem;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Ketika tombol fontSmall aktif */
trix-toolbar
    .trix-button-group
    button[data-trix-attribute="fontSmall"].trix-active {
    background-color: #007bff; /* Warna latar belakang saat aktif */
    color: white; /* Warna teks saat aktif */
}

/* Ketika tombol fontMedium aktif */
trix-toolbar
    .trix-button-group
    button[data-trix-attribute="fontMedium"].trix-active {
    background-color: #007bff; /* Warna latar belakang saat aktif */
    color: white; /* Warna teks saat aktif */
}

/* Ketika tombol fontLarge aktif */
trix-toolbar
    .trix-button-group
    button[data-trix-attribute="fontLarge"].trix-active {
    background-color: #007bff; /* Warna latar belakang saat aktif */
    color: white; /* Warna teks saat aktif */
}

/* Ketika tombol fontLarge aktif */
trix-toolbar
    .trix-button-group
    button[data-trix-attribute="fontExtraLarge"].trix-active {
    background-color: #007bff; /* Warna latar belakang saat aktif */
    color: white; /* Warna teks saat aktif */
}

/* Ketika tombol fontLarge aktif */
trix-toolbar
    .trix-button-group
    button[data-trix-attribute="font2xl"].trix-active {
    background-color: #007bff; /* Warna latar belakang saat aktif */
    color: white; /* Warna teks saat aktif */
}

/* Ketika tombol fontLarge aktif */
trix-toolbar
    .trix-button-group
    button[data-trix-attribute="font3xl"].trix-active {
    background-color: #007bff; /* Warna latar belakang saat aktif */
    color: white; /* Warna teks saat aktif */
}

.swiper-2 {
    width: 100%;
    height: 100%;
}

.swiper-2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.swiper-2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
